nav{
    background-color: cyan;
}

.boxedcontainer {
    padding: 25px;
}

.boxed {
  border: 1px solid green ;
  padding: 0px;
  width: 100%;
}
.boxed div.imatge{
    padding: 0px;

}

.boxed div img {
    width: 100%; 
    height: 100%;
}